  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/saved">Saved Articles
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger clear">CLEAR ARTICLES!</a>
      </li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Saved Articles</h1>
    <p>Your Saved Articles</p>
  </div>
</div>

<div class="container-fluid article-container">
    {{!-- <div data-_id=5db4a50c6f81d100157c0a18 class="card">
      <div class="card-header">
        <h3>
          <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/10/24/books/review-unspeakable-acts-nancy-princenthal.html">A Pivotal Moment in the Art World’s Treatment of Sexual Violence</a>
          <a class="btn btn-danger delete">Delete From Saved</a>
          <a class="btn btn-info notes">Article Notes</a>
        </h3>
      </div>
      <div class="card-body">Our critic reviews “Unspeakable Acts,” a new book about how artists have made sense (or not) of violence against women.</div>
    </div>
    <div data-_id=5db4a50c6f81d100157c0a14 class="card">
      <div class="card-header">
        <h3>
          <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/10/26/us/politics/joe-biden-campaign-fundraising.html">‘Very Alarming’: Biden Campaign Races to Fix Money WoesDemocratic Candidates Rebuke Trump at Criminal Justice ForumMitt Romney has been gifted by Mr. Trump with a kind of late-career relevance, our correspondent writes in an analysis.</a>
          <a class="btn btn-danger delete">Delete From Saved</a>
          <a class="btn btn-info notes">Article Notes</a>
        </h3>
      </div>
      <div class="card-body">Joe Biden’s presidential campaign is spending more money than it is taking in, unlike his top 2020 rivals.Democrats hit back at President Trump’s record and history of racial demagogy a day after he hailed his own and belittled Barack Obama’s.</div>
    </div>
    <div data-_id=5db4a50c6f81d100157c0a15 class="card">
      <div class="card-header">
        <h3>
          <a class="article-link" target="_blank" rel="noopener noreferrer" href="https://www.nytimes.com/2019/10/25/briefing/11-of-our-best-weekend-reads.html">11 of Our Best Weekend ReadsDid you stay up-to-date this week? Take our news quiz.</a>
          <a class="btn btn-danger delete">Delete From Saved</a>
          <a class="btn btn-info notes">Article Notes</a>
        </h3>
      </div>
      <div class="card-body">De Niro and Pacino. Alyssa Milano. Flea. Taste-testing plant-based burgers. The sunless world of immigrants in Queens. And more.</div>
    </div> --}}
</div>

<footer class="footer">
  <div class="container">
    <p>New York Times Mongo Scraper</p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/js/saved.js"></script>
